@{
    Layout = "_Layout";
}

<header class="bar bar-nav">
    <h1 class="title">我要报修</h1>
</header>
<div class="content" id="userinfo">
    <div class="list-block">
        <ul>
            <!-- Text inputs -->
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">姓名</div>
                        <div class="item-input">
                            <input type="text" placeholder="姓名" v-model="user.name" disabled="disabled">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">小区</div>
                        <div class="item-input">
                            <select v-model="user.communityId" disabled="disabled">
                                <option v-for="item in community" :value="item.Id">{{item.Name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">门牌号</div>
                        <div class="item-input">
                            <input type="text" placeholder="门牌号" v-model="user.homeNum" disabled="disabled">
                        </div>
                    </div>
                </div>
            </li>
            <!-- Switch (Checkbox) -->
            <li class="align-top">
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-comment"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">报修内容</div>
                        <div class="item-input">
                            <textarea v-model="repairInfo"></textarea>
                        </div>
                    </div>
                </div>
            </li>

            <li class="align-top">
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-comment"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">报修图片</div>
                        <div class="item-input">
                            <img v-show="lowImgPath != ''" id="imghs" style="width:50%;margin-bottom:15px;margin-top: 10px"  onclick="addImg()" />
                            <img v-show="lowImgPath == ''" style="width:20%;margin-bottom:15px;margin-top: 10px" src="~/dist/img/taking.png" onclick="addImg()" />
                            <input type="file" id="image" name="image" @@change="upload" style="display:none" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <div class="row">
            <div style="margin-left:14px;"><a href="#" @@click="editUser" class="button button-big button-fill button-success">提交</a></div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var vue = new Vue({
            el: "#userinfo",
            data: function () {
                return {
                    userId: @ViewBag.UserId,
                    user: {},
                    community: [],
                    repairInfo: '',
                    imgPath: '',
                    lowImgPath: '',
                    base64Img: ''
                }
            },
            methods: {
                editUser: function () {
                    if (vue.$data.repairInfo == '') {
                        $.toast("报修内容不能为空");
                        return;
                    }

                    var url = '/User/InsertRepair';
                    var _data = {
                        remake: this.$data.repairInfo,
                        communityId : this.$data.user.communityId,
                        img: this.$data.imgPath
                    };
                    post(url, JSON.stringify(_data), function (result) {
                        $.alert("报修成功，请等待系统派单", "通知", function (result) {
                            location.href = "/Home/Index";
                        })
                    })
                },
                upload: function (event) {
                    var file = event.target.files[0];
                    var formData = new FormData();
                    formData.append('formFile', file);
                    $.ajax({
                        url: '/User/Upload',
                        dataType: 'json',
                        type: 'POST',
                        async: true,
                        data: formData,
                        processData: false, // 使数据不做处理
                        contentType: false, // 不要设置Content-Type请求头
                        beforeSend: function () {
                            $.showPreloader();
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                document.getElementById("imghs").src = data.data.file ;
                                vue.$data.imgPath = data.data.file;
                                vue.$data.lowImgPath = data.data.lowFile;
                            }
                        },
                        complete: function () {
                            $.hidePreloader();
                        }
                    });
                }
            },
            created: function () {
                var _this = this;
                $.get("/User/GetUser?id=" + _this.$data.userId, function (result) {
                    vue.user = result.data;

                    _this.$data.community = @Html.Raw(ViewBag.Community);

                    var has = false;
                    for (var i = 0; i < _this.$data.community.length; i++) {
                        if (_this.$data.user.communityId == _this.$data.community[i].Id) {
                            has = true;
                        } 
                    }
                    if (!has) {
                        var msg = '请先完善您所在的小区'
                        $.alert(msg, "提示", function () {
                            window.location.href = '/User/UserInfo';
                        });
                    }
                });
            }
        });

        function addImg(){
            document.getElementById("image").click();
        }
        function base64ImgtoFile(dataurl, filename = 'file') {
            let arr = dataurl.split(',')
            let mime = arr[0].match(/:(.*?);/)[1]
            let suffix = mime.split('/')[1]
            let bstr = atob(arr[1])
            let n = bstr.length
            let u8arr = new Uint8Array(n)
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n)
            }
            return new File([u8arr], `${filename}.${suffix}`, {
                type: mime
            })
        }
    </script>
}