<div class="content">
    <div class="card">
        <div class="card-header">进行中</div>
        <div class="card-content">
            <div class="card-content-inner">洗碗机修理</div>
            <div class="card-content-inner">进行中。（2020-02-01 16：00）</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">已完成</div>
        <div class="card-content">
            <div class="card-content-inner">电视机修理</div>
            <div class="card-content-inner">完成。（2020-01-01 13：00）</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">已完成</div>
        <div class="card-content">
            <div class="card-content-inner">洗衣机修理</div>
            <div class="card-content-inner">完成。（2020-01-10 15：00）</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">已完成</div>
        <div class="card-content">
            <div class="card-content-inner">冰箱修理</div>
            <div class="card-content-inner">完成。（2020-01-23 19：00）</div>
        </div>
    </div>
</div>
