<div class="content">
    <div class="card">
        <div class="card-header">报修</div>
        <div class="card-content">
            <div class="card-content-inner">报修。（2020-02-01 13：00）</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">处理中</div>
        <div class="card-content">
            <div class="card-content-inner">已接单。（2020-02-01 13：30）</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">处理中</div>
        <div class="card-content">
            <div class="card-content-inner">已派单。（2020-02-01 14：30）</div>
            <div class="card-content-inner">处理人：李工   电话：123456778</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">已上门</div>
        <div class="card-content">
            <div class="card-content-inner">已上门。（2020-02-01 14：50）</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">完成</div>
        <div class="card-content">
            <div class="card-content-inner">完成。（2020-02-01 16：00）</div>
        </div>
    </div>

    @*<div class="item-input" >
        <textarea style="width:100%;height:100px;"></textarea>
    </div>*@
</div>
